.page__intro {
  margin: 92px 442px 81px 148px;
}

@media screen and (max-width: 1279px) {
  .page__intro {
    margin: 92px 290px 81px 50px;
  }
}

@media screen and (max-width: 1023px) {
  .page__intro {
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .page__intro {
    margin: 64px auto;
  }
}
