.footer__links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  column-gap: 18px;
}

@media screen and (max-width: 767px){
  .footer__links {
    display: grid;
    grid-auto-flow: row;
    row-gap: 32px;
  }
}
