@import url(../intro/__title/intro__title.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);

.intro {
  display: grid;
  max-width: 690px;
}

@media screen and (max-width: 1023px){
  .intro {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px){
  .intro {
    max-width: calc(100% - 16px * 2);
  }
}
