@import url(../cover/__link/cover__link.css);
@import url(../cover/__title/cover__title.css);
@import url(../cover/__subtitle/cover__subtitle.css);

.cover {
  width: calc(100% - 48px * 2);
  min-height: 740px;
  background-image: url(/images/cover/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}
