.page__places {
   margin: 99px auto;
}

@media screen and (max-width: 1279px) {
  .page__places {
    margin: 94px auto;
  }
}

@media screen and (max-width: 767px) {
  .page__places {
    margin: 64px 0;
  }
}
