@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: calc(100% - 48px * 2);
}

@media screen and (max-width: 1023px){
  .footer {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px){
  .footer {
    width: calc(100% - 16px * 2);
    display: grid;
    row-gap: 48px;
  }
}
